<h4>Email Confirmation</h4>
<hr />
<p>
    Your email should be confirmed in order to sign in. Please check your email to confirm your account.
</p>
<p>Did you not receive the email confirmation link? check <a href="/account/resendemail">here</a></p>