<h4>My Profile</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <p>Username: <b>{{Username}}</b>. Full Name: <b>{{FullName}}</b></p>
        <p>Welcome to my profile page.</p>
    </div>
</div>
<div class="row">    
    <div class="col-md-6">
        [<a href="/users/changepassword">Change Password</a>] [<a href="/users/multifactor">Multi-Factor Authentication</a>]
</div>
