<h4>Dashboard Page</h4>
<hr />
<div class="row">
    <div class="col-md-6">
         <p>This page can be accessed by MANAGER and ADMIN roles.</p>
        <p>Username: <b>{{Username}}</b>. Full Name: <b>{{FullName}}</b></p>
    </div>
</div>